.skills__container {
    max-width: 937px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin: 83px auto 0px;
}

@media screen and (max-width: 720px) {
    .skills__container {
        height: 500px;
    }
}

@media screen and (max-width: 420px) {
    .skills__container {
        flex-direction: column;
        height: 1065px;
    }
}