@import url('/fonts/fonts.css');
@import url('/styles/body.css');
@import url('/styles/header/header.css');
@import url('/styles/header/__nav/header__nav.css');
@import url('/styles/header/__list/header__list.css');
@import url('/styles/header/__link/header__link.css');
@import url('/styles/header/__info/header__info.css');
@import url('/styles/header/__prof/header__prof.css');
@import url('/styles/header/__lang/header__lang.css');
@import url('/styles/header/__title/header__title.css');
@import url('/styles/header/__photo/header__photo.css');