@import url('/fonts/fonts.css');
@import url('/styles/body.css');
@import url('/styles/header/header.css');
@import url('/styles/header/__nav/header__nav.css');
@import url('/styles/header/__list/header__list.css');
@import url('/styles/header/__link/header__link.css');
@import url('/styles/header/__info/header__info.css');
@import url('/styles/header/__prof/header__prof.css');
@import url('/styles/header/__lang/header__lang.css');
@import url('/styles/header/__title/header__title.css');
@import url('/styles/header/__photo/header__photo.css');
@import url('/styles/main/main.css');
@import url('/styles/about-me/about-me.css');
@import url('/styles/about-me/__title/about-me__title.css');
@import url('/styles/about-me/__container/about-me__container.css');
@import url('/styles/about-me/__paragraph/about-me__paragraph.css');
@import url('/styles/skills/skills.css');
@import url('/styles/skills/__title/skills__title.css');
@import url('/styles/skills/__subtitle/skills__subtitle.css');
@import url('/styles/skills/__container/skills__container.css');
@import url('/styles/skills/__card/skills__card.css');
@import url('/styles/skills/__icon/skills__icon.css');
@import url('/styles/skills/__icon-name/skills__icon-name.css');
@import url('/styles/skills/__stars/skills__stars.css');
@import url('/styles/skills/__star/skills__star.css');
@import url('/styles/portfolio/portfolio.css');
@import url('/styles/portfolio/__title/portfolio__title.css');
@import url('/styles/portfolio/__card/portfolio__card.css');
@import url('/styles/portfolio/__photo/portfolio__photo.css');
@import url('/styles/portfolio/__subtitle/portfolio__subtitle.css');
@import url('/styles/footer/footer.css');
@import url('/styles/footer/__title/footer__title.css');
@import url('/styles/footer/__subtitle/footer__subtitle.css');
@import url('/styles/footer/__container/footer__container.css');
@import url('/styles/footer/__icon/footer__icon.css');
@import url('/styles/footer/__note/footer__note.css');
@import url('/styles/footer/__button/footer__button.css');

