.header__lang {
    transform: rotate(-90deg);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 400px) {
    .header__lang {
        display: none;
    }
}