.header__info {
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 400px) {
    .header__info {
        margin: 0px 0px 0px 0px;
        flex-direction: column;
        align-items: flex-start;
    }
}