.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .header__list {
        height: 50%;
        margin: 65px 0px 0px 0px;
        flex-direction: column;
        align-items: flex-start;
    }
}