.about-me {
    padding: 120px 0 107px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 940px) {
    .about-me {
        margin: 0 29px;
        padding: 81px 0 76px;
    }
}