@font-face {
    font-weight: 300;
    font-family: Gilroy;
    src: url('./Gilroy-Light.otf');
}

@font-face {
    font-weight: 800;
    font-family: Gilroy;
    src: url('./Gilroy-ExtraBold.otf');
}