.header__prof {
    color: #070707;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 400px) {
    .header__prof {
        margin: 23px 0px 0px 0px;
    }
}