.header__link {
    text-decoration: none;
    transition: opacity .4s;
    font-weight: 300;
}

.header__link:link {
    color: #828282;
}

.header__link:visited {
    color: #070707;
}

.header__link:hover {
    opacity: .6;
}