.body {
    background-color: #fff;
    margin: 0px 0px 0px 0px;
    font-family: Gilroy, sans-serif;
}

h1,
h2,
h3 {
    margin: 0px 0px 0px 0px;
}

p {
    margin: 0px 0px 0px 0px;
}

a {
    color: #828282;
    text-decoration: none;
    transition: opacity .4s;
}

a:hover {
    opacity: .6;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    color: #828282;
    transition: opacity .4s;
}

button:hover {
    opacity: .6;
}